<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="2" parallel="methods">

    <listeners>
        <listener class-name="org.hdp.Listener.Listeners"/>
    </listeners>

    <test verbose="2" name="WebAutomation" thread-count="2">
        <classes>
            <class name="org.hdp.tests.VwoLoginTestsPage">
                <methods>
                    <include name="loginTestWithInvalidCreds"/>
                    <include name="loginTestWithValidCreds"/>
                    <include name="loginTestWithInvalidCredsDataProvider"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>